.footer {
    background-color: rgba(19, 14, 14, 0.9);
    padding: 20px 0;
    margin-top: 50px;
    color: #dc3545;
}

.jumbotron {
    background-color: rgba(19, 14, 14, 0.5);
    color: red;
    margin: 0;
    padding: 30px;
}

.hr {
    border: 1px solid black;
    opacity: 0.5;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.jumbotron h3 {
    color: #dc3545;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.roundImage {
    border-radius: 50%;
    height: 10rem;
    width: auto;
}

.smallRoundImage {
    border-radius: 50%;
}

.otherEventsImg {
    height: 200px;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 5px;
    object-fit: cover;
}

.mainEvent {
    height: 500px;
    width: 400px;
    object-fit: cover;
    padding-top: 30px;
}

.card {
    border-radius: 15px;
    padding-bottom: 20px;
}

.gameIndex {
    padding-top: 20px;
}

.gameCard {
    background-color: none;
}


.btnStuff {
    margin-top: 10px;
}

.highlightGF {
    background: #ffff00;
}

.highlightSF {
    background: #00ffff;
}

.highlightDF {
    background: #00ff00;
}

.menu {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #d2b48c;
    border: 1px black solid;
    border-radius: 5px;

}

.menuLeft {
    border-right: solid 1px;
}

.subHeader {
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.subSubHeader {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 18px;
}

.text-end {
    text-align: end;
}

.foodItem {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
}

.ingredients {
    font-family: "Open Sans", serif;
    text-align: left;
    font-weight: normal;
}

.carousel-indicators li {
    background-color: #ddd;
    border-color: purple;
    border-radius: 50%;
}

.carousel-control-next-icon {
    background-color: purple;
}

.carousel-control-prev-icon {
    background-color: purple;
}

.eventList {
    background-image: linear-gradient(#ffd700, #008000);
    border-radius: 15px;
}

#eventListStart {
    margin-top: 60px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

.gamesContainer {
    background-color: rgba(19, 14, 14, 0.5);
    border-radius: 10px;
    border: 1px black solid;
}

.list-group .list-group-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: #dc3545;
}

.cardRoom {
    color: #ffd700;
}

.bgcard {
    background-color: rgba(19, 14, 14, 0.5);
}

.redMSG {
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
}

.shopCard {
    background-color: rgba(19, 14, 14, 0.5);
    color:#ff0000
}

.shopTitle {
    border: 1px black solid;
    text-shadow: #000000;
    color: #000000;
    padding: 5px;
    background-color: #00ff00;
    border-radius: 5px;
}

.shopRound {
    border-radius: 10px;
}

.btn-dg {
    background-color: #006400;
    color: #ddd;
}

#shopModal {
    background-color: rgba(19, 14, 14, 0.5);
}

#shopModal .modal-content {
    background-color: #00ffff;
}

.breadcrumb {
    background: none;
}